/* [Object] Modal */
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: "Roboto", sans-serif;
	text-align: left;
	background: rgba(0, 0, 0, .8);
	transition: opacity .1s ease;
	z-index: 100;
}

.modal-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal-state {
	display: none;
}

.modal-state:checked + .modal {
	opacity: 1;
	visibility: visible;
}

.modal-state:checked + .modal .modal-inner {
	top: 3em;
}

.modal .row {
	margin-top: .5em;
}

.modal-header {
	position: absolute;
	left: 1em;
	top: .7em;
	font-size: 1.3em;
	font-weight: bold;
}

.modal-inner {
	transition: top .25s ease;
	position: absolute;
	top: 3em;
	right: 4em;
	margin: auto;
	overflow: auto;
	background: #fff;
	border-radius: 2px;
	padding: 2.5em 1.8em 1em 1.6em;
}

.modal-close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.1em;
	height: 1.1em;
	cursor: pointer;
}

.modal-close:after,
.modal-close:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 1.5em;
	background: #ccc;
	display: block;
	transform: rotate(45deg);
	left: 50%;
	margin: -3px 0 0 -1px;
	top: 0;
}

.modal-close:hover:after,
.modal-close:hover:before {
	background: #aaa;
}

.modal-close:before {
	transform: rotate(-45deg);
}

.modal-input {
	border: 1px solid gray;
	border-radius: 2px;
	padding: 3px 6px;
}

.modal-input.fw {
	width: 100%;
}

.valid {
	border-color: forestgreen;
}

.error {
	border-color: crimson;
}

/*
@media screen and (max-width: 768px) {
	.modal-inner {
		width: 90%;
		height: 90%;
		box-sizing: border-box;
	}
}
*/
